@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.task-table {
	min-width: 200px;
}